In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%%matplotlib inline

UsageError: Line magic function `%%matplotlib` not found.

In [5]:
df = pd.read_csv('./automobileEDA.csv')

df.head()

,Unnamed: 0,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,13495.0,11.190476,Medium,0,1
1,1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,...,9.0,111.0,5000.0,21,27,16500.0,11.190476,Medium,0,1
2,2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,...,9.0,154.0,5000.0,19,26,16500.0,12.368421,Medium,0,1
3,3,2,164,audi,std,four,sedan,fwd,front,99.8,...,10.0,102.0,5500.0,24,30,13950.0,9.791667,Medium,0,1
4,4,2,164,audi,std,four,sedan,4wd,front,99.4,...,8.0,115.0,5500.0,18,22,17450.0,13.055556,Medium,0,1

In [ ]:
# GroupBy() In Python

Use the GroupBy() function to group data by a column name.
    - Can be applied to catergorical data.
    - Can group data into categories
    - Single or multiple varaibles

Basically what you do using with `GroupBy()` is to split the data into groups based on some criteria, apply a function to each group independently and then combine the results into a data structure.

## `pivot()` and `pivot_table()`

Use the `pivot()` method to visualise this type of data easily.

## Heatmap

A heatmap is a graphical representation of data where the individual values contained in a matrix are represented as colors.
- Use the heatmap to plot targe variable over multiple variables.